#game-canvas {
  display: block;
  outline: 10px solid #61a3ba;
  margin-inline: auto;
  margin-block: 1.5rem;
  background-color: white;

  background-size: 20px 20px;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 1px, transparent 1px);
}
