@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family:'GothamLight';
  src: url('@/public/fonts/Gotham-Light.otf');
}
@font-face {
  font-family:'GothamBook';
  src: url('@/public/fonts/Gotham-BookItalic.otf');
}
@font-face {
  font-family:'GothamThin';
  src: url('@/public/fonts/Gotham-Thin.otf');
}
@font-face {
  font-family:'GothamX';
  src: url('@/public/fonts/Gotham-XLight.otf');
}
@font-face {
  font-family:'GothamBase';
  src: url('@/public/fonts/GothamMedium.ttf');
}
@font-face {
  font-family:'GothamBlack';
  src: url('@/public/fonts/Gotham-Black.otf');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-2xl font-bold;

  font-family: "GothamBlack", sans-serif;
}
h2 {
  @apply text-xl font-bold;

  font-family: "GothamBlack", sans-serif;
}
h3 {
  @apply text-lg font-semibold;

  font-family: "GothamBold", sans-serif;
}