@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family:'GothamLight';
  src: url('@/public/fonts/Gotham-Light.otf');
}
@font-face {
  font-family:'GothamBook';
  src: url('@/public/fonts/Gotham-BookItalic.otf');
}
@font-face {
  font-family:'GothamThin';
  src: url('@/public/fonts/Gotham-Thin.otf');
}
@font-face {
  font-family:'GothamX';
  src: url('@/public/fonts/Gotham-XLight.otf');
}
@font-face {
  font-family:'GothamBase';
  src: url('@/public/fonts/GothamMedium.ttf');
}
@font-face {
  font-family:'GothamBlack';
  src: url('@/public/fonts/Gotham-Black.otf');
}
@font-face {
  font-family:'GothamBold';
  src: url('@/public/fonts/GothamBold.ttf');
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-2xl font-bold;

  font-family: "GothamX", sans-serif;
  font-size: 30px;
}
h2 {
  @apply text-xl font-bold;
  font-family: "GothamX", sans-serif;
  font-size: 20px
}
h3 {
  @apply text-lg font-semibold;
  font-family: "GothamX", sans-serif;
  font-size: 10px;
}

.titre {
  @apply text-2xl font-bold;

  font-family: "GothamBold", sans-serif;
  font-size: 30px;
}

.contenu {
  @apply text-2xl font-bold;
  font-family: "GothamLight", sans-serif;
  font-size: 20px;
}

.quest {
  @apply text-2xl font-bold;
  font-family: "GothamLight", sans-serif;
  font-size: 20px;
}

.rep {
  @apply text-2xl font-bold;
  font-family: "GothamX", sans-serif;
  font-size: 15px;
}

.cat{
  transition: transform .2s;
  transform: scale(1);
  opacity: 0.6;
}
.cat:hover {
  opacity: 1;
  transition: transform .2s;
  transform: scale(1.1);
}