.Logo {
    display: flex;
    justify-content: center;
    opacity:0.6;
    transform: scale(1.2);
    transition: transform .2s ease;
}
.Logo:hover {
    opacity: 1;
    transform: scale(1.3);
    transition: transform .2s ease;
}
