networks:
  app-network:
    driver: bridge

services:
  frontend:
    build:
      context: ./frontend
    ports:  
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    networks:
      - app-network